.background-container {
  position: relative;
  width: 100%;
  background-image: url("/backgroud.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 30px 0px;
}

.form-overlay {
  background: #faf9fd;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 600px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 48%;
  margin-right: 2%;
}

.half-width:last-child {
  margin-right: 0;
}

.radio-group {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

mat-form-field {
  display: flex;
  align-items: center;
}

mat-icon {
  margin-right: 10px;
  color: #757575;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: #dc2626;
  color: #faf9fd;
  max-width: 200px;
}
