<h2 style="color: #dc2626">Watch Our Content</h2>
<div class="results">
  <mat-card *ngFor="let d of data" class="car-card">
    <mat-card-header>
      <mat-card-subtitle>{{ d.title }}</mat-card-subtitle>
    </mat-card-header>
    <iframe
      [src]="sanitizeUrl(d.link)"
      width="450"
      height="250"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>
    <mat-card-content>
      <p>{{ d.description }}</p>
    </mat-card-content>
  </mat-card>
</div>
